build/
mc-build/
cmake-build-debug/
.idea/
lcm-types/cheetahlcm
lcm-types/c_lcm_files
lcm-types/controllerlcm
lcm-types/interfacelcm
lcm-types/java
lcm-types/simulatorlcm
lcm-types/wincontrollerlcm
lcm-types/file_list.txt
lcm-types/cpp/*
lcm-types/lcmtypes/*
lcm-types/python/*
lcm_data/lcm_log
lcm_data/matlab_log
lcm_data/matlab_log_archive
optimization_data
sim_data
test_data
planning_data
*.m~
*.pyc
documentation/doxygen/latex
documentation/doxygen/html
documentation/doxygen/html
documentation/doxygen/latex
.DS_Store
tags
cheetah_software.srctrlbm
cheetah_software.srctrldb
cheetah_software.srctrlprj
Cheetah.srctrlbm
Cheetah.srctrldb
Cheetah.srctrlprj
CMakeLists.txt
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
config/mini-cheetah-defaults.yaml
config/mini-cheetah-defaults.yaml
config/mini-cheetah-defaults.yaml
